<section class="food main__section">
  <p class="food__desc">カードをクリック（タップ）すると下の黄色のボックスに食品のたんぱく質の量が追加されていきます。</p>
  <p class="food__desc">１食当たりのたんぱく質の合計が、<span class="u-bold u-underline">20g以上</span>になるように食品を選びましょう。（いつも朝食を食べない人は10gくらいから始めても良いそうです。）</p>
  <p class="food__desc">※カードは参考文献のサイトの素材（無料）を利用しています。</p>
  <h2 class="food__title">たんぱく質の目安カード</h2>
  <form class="form food__inner">
    <div class="card-container">
      <div class="card">
        <label>
          <input type="checkbox" name="param" value="厚揚げ">
          <div class="card__img">
            <img src="./assets/images/item01.jpg" alt="" width="232" height="362" decoding="async" loading="lazy">
          </div>
        </label>
      </div>
      <div class="card">
        <label>
          <input type="checkbox" name="param" value="ピーナツ">
          <div class="card__img">
            <img src="./assets/images/item02.jpg" alt="" width="232" height="362" decoding="async" loading="lazy">
          </div>
        </label>
      </div>

      <div class="card">
        <label>
          <input type="checkbox" name="param" value="煮大豆">
          <div class="card__img">
            <img src="./assets/images/item03.jpg" alt="" width="232" height="362" decoding="async" loading="lazy">
          </div>
        </label>
      </div>

      <div class="card">
        <label>
          <input type="checkbox" name="param" value="豆腐木綿">
          <div class="card__img">
            <img src="./assets/images/item04.jpg" alt="" width="232" height="362" decoding="async" loading="lazy">
          </div>
        </label>
      </div>
      <div class="card">
        <label>
          <input type="checkbox" name="param" value="豆腐絹">
          <div class="card__img">
            <img src="./assets/images/item05.jpg" alt="" width="232" height="362" decoding="async" loading="lazy">
          </div>
        </label>
      </div>
      <div class="card">
        <label>
          <input type="checkbox" name="param" value="ヨーグルト">
          <div class="card__img">
            <img src="./assets/images/item06.jpg" alt="" width="232" height="362" decoding="async" loading="lazy">
          </div>
        </label>
      </div>
      <div class="card">
        <label>
          <input type="checkbox" name="param" value="チーズ">
          <div class="card__img">
            <img src="./assets/images/item07.jpg" alt="" width="232" height="362" decoding="async" loading="lazy">
          </div>
        </label>
      </div>
      <div class="card">
        <label>
          <input type="checkbox" name="param" value="納豆">
          <div class="card__img">
            <img src="./assets/images/item08.jpg" alt="" width="232" height="362" decoding="async" loading="lazy">
          </div>
        </label>
      </div>
      <div class="card">
        <label>
          <input type="checkbox" name="param" value="牛乳">
          <div class="card__img">
            <img src="./assets/images/item09.jpg" alt="" width="232" height="362" decoding="async" loading="lazy">
          </div>
        </label>
      </div>
      <div class="card">
        <label>
          <input type="checkbox" name="param" value="豆乳">
          <div class="card__img">
            <img src="./assets/images/item10.jpg" alt="" width="232" height="362" decoding="async" loading="lazy">
          </div>
        </label>
      </div>
      <div class="card">
        <label>
          <input type="checkbox" name="param" value="ししゃも">
          <div class="card__img">
            <img src="./assets/images/item11.jpg" alt="" width="232" height="362" decoding="async" loading="lazy">
          </div>
        </label>
      </div>
      <div class="card">
        <label>
          <input type="checkbox" name="param" value="ツナ缶">
          <div class="card__img">
            <img src="./assets/images/item12.jpg" alt="" width="232" height="362" decoding="async" loading="lazy">
          </div>
        </label>
      </div>
      <div class="card">
        <label>
          <input type="checkbox" name="param" value="さば">
          <div class="card__img">
            <img src="./assets/images/item13.jpg" alt="" width="232" height="362" decoding="async" loading="lazy">
          </div>
        </label>
      </div>
      <div class="card">
        <label>
          <input type="checkbox" name="param" value="さけ">
          <div class="card__img">
            <img src="./assets/images/item14.jpg" alt="" width="232" height="362" decoding="async" loading="lazy">
          </div>
        </label>
      </div>
      <div class="card">
        <label>
          <input type="checkbox" name="param" value="さけフレーク">
          <div class="card__img">
            <img src="./assets/images/item15.jpg" alt="" width="232" height="362" decoding="async" loading="lazy">
          </div>
        </label>
      </div>
      <div class="card">
        <label>
          <input type="checkbox" name="param" value="魚肉ソーセージ">
          <div class="card__img">
            <img src="./assets/images/item16.jpg" alt="" width="232" height="362" decoding="async" loading="lazy">
          </div>
        </label>
      </div>
      <div class="card">
        <label>
          <input type="checkbox" name="param" value="白米">
          <div class="card__img">
            <img src="./assets/images/item17.jpg" alt="" width="232" height="362" decoding="async" loading="lazy">
          </div>
        </label>
      </div>
      <div class="card">
        <label>
          <input type="checkbox" name="param" value="クロワッサン">
          <div class="card__img">
            <img src="./assets/images/item18.jpg" alt="" width="232" height="362" decoding="async" loading="lazy">
          </div>
        </label>
      </div>
      <div class="card">
        <label>
          <input type="checkbox" name="param" value="ドーナツ">
          <div class="card__img">
            <img src="./assets/images/item19.jpg" alt="" width="232" height="362" decoding="async" loading="lazy">
          </div>
        </label>
      </div>
      <div class="card">
        <label>
          <input type="checkbox" name="param" value="コーンフレーク">
          <div class="card__img">
            <img src="./assets/images/item20.jpg" alt="" width="232" height="362" decoding="async" loading="lazy">
          </div>
        </label>
      </div>
      <div class="card">
        <label>
          <input type="checkbox" name="param" value="玄米ごはん">
          <div class="card__img">
            <img src="./assets/images/item21.jpg" alt="" width="232" height="362" decoding="async" loading="lazy">
          </div>
        </label>
      </div>
      <div class="card">
        <label>
          <input type="checkbox" name="param" value="オートミール">
          <div class="card__img">
            <img src="./assets/images/item22.jpg" alt="" width="232" height="362" decoding="async" loading="lazy">
          </div>
        </label>
      </div>
      <div class="card">
        <label>
          <input type="checkbox" name="param" value="食パン">
          <div class="card__img">
            <img src="./assets/images/item23.jpg" alt="" width="232" height="362" decoding="async" loading="lazy">
          </div>
        </label>
      </div>
      <div class="card">
        <label>
          <input type="checkbox" name="param" value="レーズンパン">
          <div class="card__img">
            <img src="./assets/images/item24.jpg" alt="" width="232" height="362" decoding="async" loading="lazy">
          </div>
        </label>
      </div>
      <div class="card">
        <label>
          <input type="checkbox" name="param" value="うどん・そうめん">
          <div class="card__img">
            <img src="./assets/images/item25.jpg" alt="" width="232" height="362" decoding="async" loading="lazy">
          </div>
        </label>
      </div>
      <div class="card">
        <label>
          <input type="checkbox" name="param" value="メロンパン">
          <div class="card__img">
            <img src="./assets/images/item26.jpg" alt="" width="232" height="362" decoding="async" loading="lazy">
          </div>
        </label>
      </div>
      <div class="card">
        <label>
          <input type="checkbox" name="param" value="あんぱん">
          <div class="card__img">
            <img src="./assets/images/item27.jpg" alt="" width="232" height="362" decoding="async" loading="lazy">
          </div>
        </label>
      </div>
      <div class="card">
        <label>
          <input type="checkbox" name="param" value="ソーセージ">
          <div class="card__img">
            <img src="./assets/images/item28.jpg" alt="" width="232" height="362" decoding="async" loading="lazy">
          </div>
        </label>
      </div>
      <div class="card">
        <label>
          <input type="checkbox" name="param" value="ベーコン">
          <div class="card__img">
            <img src="./assets/images/item29.jpg" alt="" width="232" height="362" decoding="async" loading="lazy">
          </div>
        </label>
      </div>
      <div class="card">
        <label>
          <input type="checkbox" name="param" value="ハム">
          <div class="card__img">
            <img src="./assets/images/item30.jpg" alt="" width="232" height="362" decoding="async" loading="lazy">
          </div>
        </label>
      </div>
      <div class="card">
        <label>
          <input type="checkbox" name="param" value="ハンバーグ">
          <div class="card__img">
            <img src="./assets/images/item31.jpg" alt="" width="232" height="362" decoding="async" loading="lazy">
          </div>
        </label>
      </div>
      <div class="card">
        <label>
          <input type="checkbox" name="param" value="鶏むね肉">
          <div class="card__img">
            <img src="./assets/images/item32.jpg" alt="" width="232" height="362" decoding="async" loading="lazy">
          </div>
        </label>
      </div>
      <div class="card">
        <label>
          <input type="checkbox" name="param" value="卵焼き">
          <div class="card__img">
            <img src="./assets/images/item33.jpg" alt="" width="232" height="362" decoding="async" loading="lazy">
          </div>
        </label>
      </div>
      <div class="card">
        <label>
          <input type="checkbox" name="param" value="プリン">
          <div class="card__img">
            <img src="./assets/images/item34.jpg" alt="" width="232" height="362" decoding="async" loading="lazy">
          </div>
        </label>
      </div>
      <div class="card">
        <label>
          <input type="checkbox" name="param" value="卵">
          <div class="card__img">
            <img src="./assets/images/item35.jpg" alt="" width="232" height="362" decoding="async" loading="lazy">
          </div>
        </label>
      </div>

    </div>
    <div class="food__result result">
      <p class="result__total u-bold">現在のたんぱく質の合計：<span id="js-totalView" class="result__sum">0</span>g </p>
      <p class="result__select"><span class="result__list">選択している食品：</span><span id="js-totalSelect" class="result__list"></span></p>
    </div>
  </form>
</section>