<header class="header">
  <p class="header__inner u-bold">
    <picture class="header__img">
      <source srcset="./assets/images/webp/logo.webp" type="image/webp" width="80" height="51">
      <img src="./assets/images/logo.png" alt="" width="80" height="51">
    </picture><span class="header__title">朝たん計算アプリ</span>
  </p>
</header>